PORT=3000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/smartfarm
JWT_SECRET=rahasia_super_kuat_anda
FRONTEND_URL="http://localhost:5173"
NODE_ENV="production"
MQTT_URL=mqtts://broker_address:port
MQTT_USER=username_mqtt
MQTT_PASS=password_mqtt
TG_TOKEN=token_bot_telegram_anda
TG_CHAT_ID=id_chat_anda