#ifndef CONFIG_H
#define CONFIG_H

// WiFi Credentials (compile-time fallback)
const char* const WIFI_SSID     = "alamat_wifi_anda";
const char* const WIFI_PASSWORD = "password_wifi_anda";

// DEVICE ID
const char* const DEVICE_ID      = "device0";

// MQTT Broker
const char* const MQTT_SERVER    = "alamat_broker_anda";
const int         MQTT_PORT      = 8883; // Port SSL/TLS
const char* const MQTT_CLIENT_ID = "semainode01";
const char* const MQTT_USER      = "user_mqtt";
const char* const MQTT_PASSWORD  = "pass_mqtt";

// MQTT Topics
const char* const TOPIC_TELEMETRY = "smartfarm/telemetry";
const char* const TOPIC_CONTROL   = "smartfarm/control";
const char* const TOPIC_SETTINGS  = "smartfarm/settings";
const char* const TOPIC_OTA       = "smartfarm/ota";

#endif